*, :after, :before {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}


body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #000;
}


.viewport {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.section {
    width: 100vw;
    background-size: cover;
    position: relative;
}

.video > * {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.video {
    position: absolute;
    left: 50%;
    top: 50%;
}

/*scroll bar 배경 색상 변경*/
::-webkit-scrollbar-thumb {background: #486db0;}

#container01{background: url("../images/s1.jpg") no-repeat center;}
#container02{background: url("../images/s2.jpg") no-repeat center;}
#container03{background: url("../images/s3.jpg") no-repeat center;}


.section {
    height: 980px;
    background-color: transparent;
}

#footer {
    position: relative;
    height: 124px;}

#footer .txt_box{
    width: 790px;
    height: 128px;
    position: absolute;
    top: -160%;
    right: 10%;
}
#footer .txt_box .txt1{
    margin-bottom: 30px;
}
#footer .txt_box .txt2{
    position: relative;
}
#footer .txt_box .txt2:after{
    content: '';
    background-image: url(../images/next_page/hover_next.png);
    width: 538px;
    height: 68px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#footer .txt_box .arrow{
    position: absolute;
    right: 0;
    bottom: 0;
}
#footer .txt_box .arrow:after{
    content: '';
    background-image: url(../images/next_page/hover_arrow.png);
    width: 99px;
    height: 92px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
/*호버*/
#footer .txt_box:hover .txt2:after,
#footer .txt_box:hover .arrow:after{
    opacity: 1;
    transition: all 0.7s;
}
